# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native build artifacts
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
ios/
android/

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Local env files
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# EAS
google-service-account.json

